/* style.css */
body {
  font-family: Monospace, Arial, sans-serif;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background: #f0f6ff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(255, 192, 203, 0.3);
  text-align: center;
  width: 300px;
}

h1 {
  font-size: 30px;
  color: #b0ceff;
}

label {
  display: block;
  margin-top: 20px;
  font-weight: 400;
  color: #333;
  font-size: 18px;
}

input {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  font-size: 15px;
}

button {
  margin-top: 30px;
  padding: 10px 30px;
  background-color: #b0ceff;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #87b5ff;
}

button.reset {
  background-color: #dfdfdf;
  margin-left: 10px;
}

.result {
  margin-top: 25px;
  font-size: 18px;
  color: #333;
}