/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #ffffff;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ecc6ff80;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.06);
  width: 420px;
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: 300;
  color: #444;
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left;
  margin: 15px 0 6px;
  font-size: 14px;
  color: #000000;
}

input,
select {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  font-size: 14px;
  background-color: #ffffff;
  font-family: 'Inter', sans-serif;
  transition: border 0.2s ease;
}

input:focus,
select:focus {
  border-color: #ffffff;
  outline: none;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #8500c7c3;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #8500c7;
}

button.reset {
  background-color: #ebebeb;
  color: #626262;
  margin-left: 10px;
}

.result {
  margin-top: 25px;
  font-size: 16px;
  font-weight: 200;
  color: #000000;
  background-color: #f7f7f7;
  padding: 12px;
  border-radius: 10px;
}
